.events{
  border:5px solid #1a8cff;
  border-radius:10px;
  width:250px;
  height:320px;
  margin:20px;
}

.events, h1{
  text-align: center;
  padding:20px;
}
input{
  float:left;
  padding:2px;
  margin:5px;
}
p{
  margin-top:5px;
}
