<div class="allStyle">
  <h2>Event Binding</h2>
  <p>To show the output open browser console.</p>
  <input type="text" #box1 placeholder="keyup" (keyup)="getData(box1.value)">
  <input type="text" #box2 placeholder="keydown" (keydown)="getData(box2.value)">
  <input type="text" #box3 placeholder="blur" (blur)="getData(box3.value)">
  <input type="text" #box4 placeholder="input" (input)="getData(box4.value)">
  <h3 (mouseover)="getData('mouseover event')">Mouseover on me!</h3>
  <p><strong>Note :</strong>keydown and input events are performing same functionality.</p>
</div>
