.count{
  border:5px solid #1a8cff;
  border-radius:10px;
  width:300px;
  height:320px;
  margin:20px;
  text-align: center;
  padding:20px 5px;
}



button{
  margin:35px;
  padding:10px;
  border-radius:5px;
  font-weight:bold;
}
