<app-header></app-header>

<!-- <<h1>Hello...</h1>
<h2>Angular {{title}}</h2> -->

<app-events-box></app-events-box>
<app-input-values></app-input-values>

<app-prop-bind></app-prop-bind>


<app-directive-one></app-directive-one>
<app-directive-two></app-directive-two>
<app-practise></app-practise>
<app-child-component [child]="data"></app-child-component>
<app-parent-one></app-parent-one>
<app-my-pipes></app-my-pipes>
<app-footer></app-footer>

<div class="">
  <router-outlet></router-outlet>
</div>
