
$primary-color:#1a8cff;
$primary-padding:20px 0px;
.header{
background-color:$primary-color;
text-align:center;
padding:$primary-padding;

}
button{
  padding:10px;
  background-color: #1a8cff;;
  border:none;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
}
