<div class="allStyle">
  <h2>Property Binding</h2>
  <h3>Binding to a property</h3>
  <p>setting element property to component property.<img [src]="itemImageUrl" width="100px" height="auto"></p>

  <h3>Toggle button functionality</h3>
  <button [disabled]="isUnchanged">Disabled Button</button><br><br>
  <h3>Setting a directive property</h3>
  <p [ngClass] = "className">dynamic binding</p>
  <p [ngClass]="[className, className1]">Dynamic binding with an array</p>
  <p [ngClass]= "{'one':true, 'two':false}">Dynamic binding with an expression</p>

</div>
